:root {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #fff;
  padding: 60px 0;
}

.box-shadow {
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}